<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <section class="landing-top">
    <img class="img_landing_top" src="/assets/images/landing-img.jpg" />
    <p class="letter_my_name">Sakou Yuta</p>
    <p class="letter_my_title">Java and JavaScript Engineer</p>
  </section>
  <section class="skills">
    <p class="caption">Language</p>
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="30px">
      <mat-grid-tile>
        <mat-card class="skill-card">
          <mat-card-header>
            <mat-card-title>JavaScript</mat-card-title>
          </mat-card-header>
          <mat-card-content class="wrapper_img_skill">
            <img class="img_skill" mat-card-image src="/assets/images/javascript.png" alt="javascript">
          </mat-card-content>
          <mat-card-content>
            <p>
              開発経験: 3年
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="skill-card">
          <mat-card-header>
            <mat-card-title>Java</mat-card-title>
          </mat-card-header>
          <mat-card-content class="wrapper_img_skill">
            <img class="img_skill" mat-card-image src="/assets/images/java.png" alt="Java">
          </mat-card-content>
          <mat-card-content>
            <p>
              開発経験: 3年
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <p class="caption">Framework&Library</p>
    <p class="caption_small">JavaScript</p>
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="30px">
      <mat-grid-tile>
        <mat-card class="skill-card">
          <mat-card-header>
            <mat-card-title>Angular</mat-card-title>
          </mat-card-header>
          <mat-card-content class="wrapper_img_skill">
            <img class="img_skill" mat-card-image src="/assets/images/angular.svg" alt="Angular">
          </mat-card-content>
          <mat-card-content>
            <p>
              開発経験: 2年
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="skill-card">
          <mat-card-header>
            <mat-card-title>JQuery</mat-card-title>
          </mat-card-header>
          <mat-card-content class="wrapper_img_skill wrapper_img_jquery">
            <img class="img_skill img_jquery" mat-card-image src="/assets/images/jQuery.png" alt="jQuey">
          </mat-card-content>
          <mat-card-content>
            <p>
              開発経験: 1年半
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <p class="caption_small">Java</p>
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="30px">
      <mat-grid-tile>
        <mat-card class="skill-card">
          <mat-card-header>
            <mat-card-title>Jersey</mat-card-title>
          </mat-card-header>
          <mat-card-content class="wrapper_img_skill wrapper_img_jquery">
            <img class="img_skill img_jquery" mat-card-image src="/assets/images/jersey.png" alt="Angular">
          </mat-card-content>
          <mat-card-content>
            <p>
              開発経験: 2年
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="skill-card">
          <mat-card-header>
            <mat-card-title>Spring framework</mat-card-title>
          </mat-card-header>
          <mat-card-content class="wrapper_img_skill wrapper_img_jquery">
            <img class="img_skill img_jquery" mat-card-image src="/assets/images/spring.png" alt="jQuey">
          </mat-card-content>
          <mat-card-content>
            <p>
              開発経験: 1年半
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</div>
