<section class="skills section_skill">
  <p class="caption">Status</p>
  <div class="status-row">
    <div id="container" class="chart_status"></div>
  </div>
  <p class="caption">Language</p>
  <div class="skill-row">
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">JavaScript</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/javascript.png"
          alt="javascript">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 3年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">Java</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/java.png" alt="Java">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 3年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">TypeScript</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill wrapper_img_jquery">
        <img class="img_skill img_typescript"
          src="/assets/images/typescript.png" alt="HTML5">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 2年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">HTML5</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/html5.png" alt="HTML5">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 2年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">CSS3</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/css3.jpg" alt="CSS3">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 2年
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <p class="caption">Framework&Library</p>
  <p class="caption_small">HTML & JavaScript & CSS</p>
  <div class="skill-row">
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">Angular</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/angular.svg" alt="Angular">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 2年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">Vue.js</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/Vue.png" alt="Vue.js">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 半年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">jQuery</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill img_jquery" src="/assets/images/jQuery.png"
          alt="jQuery">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 1年半
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <p class="caption_small">Java</p>
  <div class="skill-row">
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">Jersey</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill wrapper_img_jquery">
        <img class="img_skill img_jquery" src="/assets/images/jersey.png"
          alt="Angular">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 2年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">Spring framework</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill wrapper_img_jquery">
        <img class="img_skill img_jquery" src="/assets/images/spring.png"
          alt="Spring">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 3年
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card">
      <mat-card-header>
        <mat-card-title class="skill-title">MyBatis</mat-card-title>
      </mat-card-header>
      <mat-card-content class="wrapper_img_skill">
        <img class="img_skill" src="/assets/images/mybatis.png"
          alt="MyBatis">
      </mat-card-content>
      <mat-card-content>
        <p>
          開発経験: 2年
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>